{% extends 'index.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Set Employee Password" %}{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="container-fluid">
    <div class="oh-wrapper">
      <div class="oh-card">
        <div class="oh-card-header d-flex flex-row align-items-center justify-content-between">
          <h5 class="oh-card-title">{% trans "Set Employee Password" %}</h5>
        </div>
        <div class="oh-card-body">
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="{{ form.employee.id_for_label }}">{{ form.employee.label }}</label>
                  {{ form.employee }}
                  {% if form.employee.help_text %}
                    <small class="form-text text-muted">{{ form.employee.help_text }}</small>
                  {% endif %}
                  {% if form.employee.errors %}
                    <div class="invalid-feedback d-block">
                      {{ form.employee.errors }}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="form-group">
                  <label for="{{ form.new_password.id_for_label }}">{{ form.new_password.label }}</label>
                  {{ form.new_password }}
                  {% if form.new_password.errors %}
                    <div class="invalid-feedback d-block">
                      {{ form.new_password.errors }}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="form-group">
                  <label for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
                  {{ form.confirm_password }}
                  {% if form.confirm_password.errors %}
                    <div class="invalid-feedback d-block">
                      {{ form.confirm_password.errors }}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-12 mt-4">
                <button type="submit" class="btn btn-primary">{% trans "Set Password" %}</button>
                <a href="{% url 'employee-list-view' %}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}